.create-pool-form {
  padding: 1rem;
  margin: 0 auto;
  min-width: 375px;
  width: 100%;
  max-width: 600px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.btn-dark-blue {
  color: #fff;
  background-color: #1d3557;
  border-color: #1d3557;
}