.logo-image {
  height: 100px;
  max-height: 85%;
  width: auto;
  object-fit: scale-down;
  padding-left: 1rem;
}

.title-text {
  color: #1d3557; font-family: 'Raleway',sans-serif; font-size: 50px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;
}

.sub-title-text {
  color: #1d3557; font-family: 'Raleway',sans-serif; font-size: 32px; font-weight: 800;
}

.dark-blue-text {
  color: #1d3557; font-family: 'Raleway',sans-serif;
}