body {
  background-color: white;
  font-family: $font-family;
}

.container {
  max-width: 100%;
  max-height: 100%;
  padding-right: 0;
  padding-left: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.navbar {
  max-width: 100%;
  max-height: 20%;
  background: #ffbc8e;
  border-bottom: 1px solid black;
}