body {
  background-color: #ffffff;
  font-family: $font-family;
}

.container {
  max-width: 100%;
  max-height: 100%;
  padding-right: 0;
  padding-left: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #1d3557;
  color: #ffffff;
}
.footer-div-1 {
  width: 100%;
  display: inline-block;
  text-align: center;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

h5.dark-blue-text {
  color: #1d3557;
}

.light-blue-top {
  background: #a8dadc;
}

.bottom-dark-border {
  border-bottom: 1px solid #1d3557;
}

a:hover {
  color: #e63946;
}

.whole-width {
  width: 100%;
  display: inline-block;
}