@import '_settings.scss';
@import '_base.scss';
@import './components/_header.scss';
@import './components/_pool.scss';
@import './components/_web3.scss';
@import './components/_menu.scss';
@import './components/_home.scss';